<div class="card mb-4">
    <h6 class="card-header bg-white">{{ __("Location") }}</h6>
    <div class="card-body">


        <div class="form-group">
            <label>Enter your full or partial post code</label>
            {{ form_text('location', null, {'class' : 'form-control', 'id' : 'location'}) }}
            {{ form_hidden('lat', null, {'class' : 'form-control', 'id' : 'lat'}) }}
            {{ form_hidden('lng', null, {'class' : 'form-control', 'id' : 'lng'}) }}

            <div id="create_map" style="width: 100%; height: 400px;"></div>

			<div class="row mt-4">
				<div class="col-6">
					<div class="form-group">
						<label>Post Code</label>
						{{ form_text('city', null, {'class' : 'form-control', 'id' : 'city','readonly':'readonly'}) }}
					</div>		
				</div>		
				<div class="col-6">
					<div class="form-group">
						<label>{{ __("Country") }}</label>
						{{ form_text('country', null, {'class' : 'form-control', 'id' : 'country', 'readonly':'readonly'}) }}
					</div>
				</div>
			</div>

        </div>

    </div>
</div>


<script>
    if($('#create_map').length) {

        $('#create_map').locationpicker({
            location: {
                latitude: {{listing.lat}},
                longitude: {{listing.lng}}
            },
            radius: 0,
            enableAutocomplete: true,
            enableAutocompleteBlur: true,

            inputBinding: {
                latitudeInput: $('#lat'),
                longitudeInput: $('#lng'),
                locationNameInput: $('#location')
            },

            onchanged: function (currentLocation, radius, isMarkerDropped) {
                var addressComponents = $(this).locationpicker('map').location.addressComponents;
                console.log(addressComponents)
                $('#city').val(addressComponents.postalCode);
                $('#country').val(addressComponents.country);
            }
        });

    }
</script>